.sidebar{
    background-color: $bg-card;
}
.card{
    height: 100%;
    width: 330px;
    img{
        height: auto;
        min-height: 200px;
        width: 200px;
        object-fit: contain;
    }
}
