<nav class="navbar navbar-expand-lg navbar-store" data-bs-theme="dark">
  <div class="container-fluid navbar-store__container">

    <a href="/src/front/pages/inicio.html" class="navbar-store__brand">
      <img src="/assets/Logo_4bit_white.webp" alt="4Bit logo" class="navbar-store__logo">
      <span class="navbar-store__brand-text">4Bit</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarStoreContent"
      aria-controls="navbarStoreContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarStoreContent">
      <ul class="navbar-nav navbar-store__menu mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/src/front/pages/inicio.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/front/pages/catalogo.html">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/front/pages/pedidos.html">Mis Pedidos</a>
        </li>
      </ul>

      <div class="navbar-store__actions" id="store-user-section"></div>
    </div>
  </div>
</nav>